@import url('icons.css');

*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* mettre les couleurs du theme de mon site */
    --white:#fff;
    --black:#000;
    --couleur-principal_sombre:#2d2e2ece;
    --box-s:#2525259f;
    --couleur-secondaire:#A8A8A8;
    --couleur-secondaire_claire:#c7c7c7;
    --gris: rgb(100, 100, 100);
    --fond-site: #F2F2F2;


    /* C'est pour la taille du texte (plus simple pour les calculs rem) */
    --base-px:10px;
    --grid-gap:2rem;
    --transition_time: 0.5s;
}

html{
    font-size: var(--base-px);
}

body{
    /* il faut trouver une fonts et les tailles */
    font-family: 'poppins', sans-serif;
    font-size: 1.5rem;
    line-height: 2.7rem;
    font-weight: 400;
    background: var(--fond-site);
}

a{
    /* on enleve les traits sous les liens */
    text-decoration: none;
}

img,
video{
    width: 100%;
    height: 100%;
}



/* Pour le cadrillage de la page */
.row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap:var(--grid-gap);
}

.col-1{
    grid-column: span 1;
}

.col-2{
    grid-column: span 2;
}

.col-3{
    grid-column: span 3;
}

.col-4{
    grid-column: span 4;
}

.col-5{
    grid-column: span 5;
}

.col-6{
    grid-column: span 6;
}

.col-7{
    grid-column: span 7;
}

.col-8{
    grid-column: span 8;
}

.col-9{
    grid-column: span 9;
}

.col-10{
    grid-column: span 10;
}

.col-11{
    grid-column: span 11;
}

.col-12{
    grid-column: span 12;
}


/* PARTIE HEADER: */
/* Le header est dans le header.css */




/* PARTIE MAIN: */

main{
display: flex;
flex-direction: column;
justify-content: center;
max-width: 640px;
width: 100%;
margin: 0 auto;
padding: 80px 40px;

    h1,
    h2{
        color: var(--black);
    }
    
}


    .contact-list {
        display: flex;
        flex-direction: column;
        color: var(--couleur-principal_sombre);
    }

    .contact-item {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 24px 0;
        border-bottom: 1px solid var(--couleur-principal_sombre);
        text-decoration: none;

        &:hover{
            color: var(--couleur-secondaire);
        }

        a{
            position: absolute;
            inset: 0;          /* équivalent à top/right/bottom/left: 0 */
            width: unset;
        }
    }

    .contact-item:first-child {
        border-top: 1px solid var(--couleur-principal_sombre);
    }

    .contact-label {
        text-transform: uppercase;
        width: 200px;
        flex-shrink: 0;
    }



/* PARTIE FOOTER: */

footer{

    .droit-site{
        color: var(--gris);
        text-align: center;
        font-size: 1rem;
    }

}